/node_modules
docs/node_modules
docs/.vitepress/dist
docs/.vitepress/cache
/vendor
composer.phar
composer.lock
.phpunit.result.cache
.phpcs-cache
coverage
build
.idea
.vscode
*.cache
phpunit.xml
.phpunit.cache
testbench.yaml
